<carousel>
    <slide>
      <img src="../../../assets/food.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h2>Food Blogs</h2>
        <h3>Nulla vitae elit libero, a pharetra augue mollis interdum.</h3>
      </div>
    </slide>
    <!-- <slide>
      <img src="../../../assets/sciandTech.webp" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h2>Sciencce and Tech Blogs</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
      </div>
    </slide> -->
    <slide>
      <img src="../../../assets/traveling.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h2>Travel Blogs</h2>
        <h3>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</h3>
      </div>
    </slide>
  </carousel>

<div class="container mt-3">
    <h1>Featured Content</h1>
    <app-featured-content></app-featured-content>
</div>

