<div class="container">
    <div class="cookieCard">
        <p class="cookieHeading">Science Friction</p>
        <p class="cookieDescription">By using this website you automatically accept that we use cookies. <a href="#">What for?</a></p>
        <button class="acceptButton">View Blogs</button>
      </div>

      <div class="cookieCard m-3">
        <p class="cookieHeading">Politics</p>
        <p class="cookieDescription">By using this website you automatically accept that we use cookies. <a href="#">What for?</a></p>
        <button class="acceptButton">View Blogs</button>
      </div>

      <div class="cookieCard">
        <p class="cookieHeading">History</p>
        <p class="cookieDescription">By using this website you automatically accept that we use cookies. <a href="#">What for?</a></p>
        <button class="acceptButton">View Blogs</button>
      </div>
</div>